<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>ATTREQ uses the camera to capture clothing for your wardrobe.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ATTREQ uses your photo library to add clothing and style photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ATTREQ uses your location for weather-aware outfit suggestions.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-MediumItalic.ttf</string>
		<string>CormorantGaramond-SemiBoldItalic.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
	</array>
</dict>
</plist>
